/*
Conquer Template
http://www.templatemo.com/preview/templatemo_426_conquer
*/
html, body{height:100%;}
.wrapper{min-height:100%; padding-bottom:65px; padding-top:50px; margin-bottom:-65px;}
body{font:14px/1.85em 'Open Sans',Arial,Helvetice Neue,sans-serif; color:#888888; font-weight:300; font-style:normal; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:100%;}
a,a:hover,a:focus{text-decoration:none; -webkit-transition:all 150ms ease-in; -moz-transition:all 150ms ease-in; -o-transition:all 150ms ease-in; transition:all 150ms ease-in;}
h1,h2,h3,h4,h5,h6{font-family:'Open Sans',Arial,Helvetice Neue,sans-serif;}
h1{width:100%; font-size:36px; color:#747474; text-align:center;}
.blue{color:#06F; font-weight:normal;}
.green{color:#0A0; font-weight:normal;}
.clear{clear:both;}
.marginbot{margin-bottom:50px;}
.topbar{width:100%; background:url(../images/templatemo-topbar-bg.png) repeat-x; position:fixed; z-index:10; top:0;}

.headerimage{width:100%; position:relative;}
.headerimage.search{max-height:560px; overflow:hidden;}
.headerimage img{width:100%;}
.blackoverlay{opacity:0.6; width:100%; height:100%; ; position:absolute; top:53px;}

.titlewrapper{top:0; width:100%; left:0;}
.title{position:absolute; height:150px; line-height:84px; float:left; display:block; width:100%; text-align:center; font-size:50px; color:#ffffff; top:0; left:0;}
.title span{display:block; height:150px;}

.menu{position:relative; top:10%;}
.topbar .navbar-default{border:none; background:none;}
.topbar .navbar{border-radius:0;}
.topbar .navbar-nav{float:none; margin:0 auto;}
.topbar .navbar-default .navbar-nav>li>a{color:#ffffff;}
.topbar .navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{color:#ececec;}
#top-menu li.active a{background:#fd704e; opacity:0.8; color:#FF6;}
#top-menu a:hover{background:#fd704e; opacity:0.8; color:#FF6;}
.navbar-collapse{box-shadow:none;}

.homewrapper{}
.hometitle{text-align:center; margin-bottom:20px;}
.hometext{text-align:center; margin:0 auto;}
.homebutton{background:#ee785c; padding:15px 0; text-align:center; font-size:20px; border-radius:5px; width:150px; color:#e3e3e3;}
.homebutton a{color:#e3e3e3;}
.search-container{background:rgba(229,97,66,0.8); padding:50px 50px 35px 50px; border-radius: 8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px; max-width:1000px;}
.btn-search{background:#e2826a; color:#e3e3e3; border:none; border-radius: 4px; -webkit-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; font-size:18px; padding:6px 20px;}
:hover.homebutton, :hover .btn-search{background:#e46142; cursor:pointer;}

.servicewrapper{background:#f0eeee; padding:50px 0 50px 0; width:100%; text-align:center;}
.servicebox{background:#ffffff; border-radius:5px; padding:25px;}
.serviceicon{background:#e46142; color:#ffffff; width:80px; height:80px; margin:0 auto; border-radius:5px; font-size:40px; line-height:80px; text-align:center;}
.service_title{font-size:18px; margin:15px 0 5px 0; color:#575757;}
.search-section-home{top: 380px;}
.workwrapper{width:100%; padding:70px 0 50px 0; text-align:center; margin-top:-65px;}
.workmargin{margin-bottom:50px;}
.workbox{float:left;}
.workbox img{width:100%;}
.worktitle{margin-top:15%; font-size:18px; font-weight:bold; color:#ffffff;}
.workdes{color:#ffffff; margin-top:10px;}
.worklink{padding:25px; font-size:30px; background:#e2826a; display:inline-block; border-radius:3px; text-align:center; margin-top:10px;}


.contactwrapper{padding:100px 0 30px 0;}
#map{height:250px; width:100%; margin-top:20px;}
.contactmargin{margin-top:30px;}
.address_title{float:left; width:100%; margin:0 0 20px 0;}
.address_left{float:left; width:30%; font-size:14px; margin-top:10px;}
.address_right{float:left; width:70%; font-size:14px; margin-top:10px;}
.contactwrapper input,textarea{width:100%; border:1px solid #e2e2e2; margin-top:10px; padding:5px;}
.contactwrapper textarea{height:120px;}
.sendbtn{background:#e46142; color:#fff; padding:7px 25px; float:left;}

.footerwrapper{background:#e46142; color:#fff; width:100%; padding:20px 0; }
.footerwrapper a{color:#fff;}
.footerwrapper a:hover{color:#FC3;}
.social{width:125px; margin:0 auto; padding:0;}

/*------------------------------------------------------
Flexslider Overrides 
--------------------------------------------------------*/
.main-slider{width:100%; margin-top:0;}
.flexslider ul{padding:0;}
.flexslider ul li{padding:0;}
.flexslider .slides{}
.slider-caption{position:absolute; vertical-align:middle; width:100%; text-align:center; z-index:8; color:#fff; top:180px;}
.slider-caption h2{font-size:48px; text-transform:uppercase; font-weight:800; margin-bottom:30px;}
.slider-caption p{font-size:16px; text-transform:uppercase; letter-spacing:2px; width:50%; margin:0 auto 30px auto; line-height:1.8em;}
.flexslider{background-color:#371604; overflow:hidden; margin:0;}
.flexslider img{position:relative; opacity:0.5; width:100%; z-index:7;}
.flex-control-nav{bottom:15px; z-index:9;}
.flex-control-paging li{list-style:none;}
.flex-control-paging li a{background:none; border:none; opacity:0;}
.flex-control-paging li a:hover{opacity:1; background:white;}
.flex-control-paging li a.flex-active{opacity:0; background:none;}
/*.search-section{top:220px;}*/

/*------------------------------------------------------
Gallery Styles 
--------------------------------------------------------*/
.gallery-item{margin-bottom:0; position:relative; overflow:hidden;}
.gallery-item .content-gallery{text-align:center;}
.gallery-item .content-gallery h3{color:#b10021; font-size:16px; font-weight:300; margin-top:5px; padding-bottom:5px; display:inline-block;}
.gallery-item img{width:100%;}
.gallery-item .overlay{position:absolute; top:0; left:0; width:100%; min-width:100%; min-height:100%; height:100%; background-color:rgba(229,97,66,0.9); display:block; -webkit-transition:all 50ms ease-in-out; -moz-transition:all 50ms ease-in-out; -ms-transition:all 50ms ease-in-out; -o-transition:all 50ms ease-in-out; transition:all 50ms ease-in-out;}
.gallery-item .overlay a{color:#ffffff; text-align:center; line-height:32px; position:absolute; margin-top:-16px; margin-left:-10px; font-size:24px;}
/*------------------------------------------------------
Buttons 
--------------------------------------------------------*/
.btn-instagram{background:none; color: #ffffff; font-size: 16px; padding: 15px 25px; }
.btn-instagram .fa:before{ margin-right:10px; }
/*------------------------------------------------------
Breadcrumbs 
--------------------------------------------------------*/
.breadcrumbs{margin-top:30px; padding-left:0; margin-bottom:30px;}
.breadcrumbs__item{list-style:none; display:inline-block; }
.breadcrumbs__item:after{content:'/'; color:black; margin-right:10px; margin-left:10px;}
.breadcrumbs__item:last-child:after{content:''; font-size:0px; margin:0;}
.breadcrumbs__item__link{color:#e2826a; font-size:16px;}
.breadcrumbs__item__link:hover{color:red;}

/*------------------------------------------------------
Breadcrumbs 
--------------------------------------------------------*/
.profile{text-align:center; border-bottom:1px solid #e2826a; padding-bottom:20px; margin-bottom:20px;}
.profile__avatar{width:150px; height:150px; display:block; -webkit-border-radius:100%; -moz-border-radius:100%; -o-border-radius:100%; margin-left:auto; margin-right:auto; margin-bottom:20px;}
.profile__title{color:#e2826a;}

.profile__content{display:table; width:100%; margin-bottom:20px; border-bottom:1px solid #e2826a;}
.profile__content__avatar{width:60px;}
.profile__content__avatar, .profile__content__post{display:table-cell;}
.profile__preview{width:50px; height:50px; -webkit-border-radius:100%; -moz-border-radius:100%; -o-border-radius:100%;}
.profile__content__post__picture{display:block; margin-bottom:20px; max-width:100%;}
.profile__content__post__tags, .comment__user{color:#e2826a;}
.profile__content__post__tags:hover, .comment__user:hover{color:red;}
.like-block{margin-right:10px;}
.like-block:last-child{margin-right:0;}
.comment{padding-bottom:20px; border-bottom:1px solid #eee; margin-bottom:20px;}
/*------------------------------------------------------
Pagination
--------------------------------------------------------*/
.pagination li a{-webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0; border-radius:0; color:#e46142;}
.pagination li a:hover{color:red;}
/*------------------------------------------------------
Media Queries 
--------------------------------------------------------*/
@media (max-width:1199px){
	.slider-caption{ top:20%; }
	.homewrapper{ display:none; }
}
@media (max-width:767px){
	.slider-caption{ position:static;}
	.slider-caption .search-container{-webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0; border-radius:0; padding:30px 30px 15px 30px;}
	.headerimage.search{display:none;}
	.btn-search{background-color:#e46142;}
	.titlewrapper{display:none;}
	.titlewrappersmall{float:left; font-size:28px; color:#ffffff; line-height:50px; margin-left:20px;}
	.topbar .container-fluid>.navbar-collapse{background:#ca482a; opacity:0.9; border:none;}
	.topbar .navbar-default .navbar-nav>li>a{font-size:14px; padding:10px 10px; border-bottom:1px solid #e46142;}
	.margin_bottom_1col{margin-bottom:20px;}
	.margin_bottom_2col{margin-bottom:0;}
	#top-menu{background:#ca482a; margin:0 -15px; opacity:0.9;}
	.topbar .navbar-default .navbar-toggle .icon-bar{background-color:#ffffff;}
}

@media (max-width:991px){
	.homewrapper{display:none;}
	.margin_bottom_2col{margin-bottom:20px;}
}

@media (max-width:319px){
	.slidernav a.previous{left:0%;}
	.slidernav a.next{right:0%;}
}

@media (min-width:320px){
	.workbox{width:100%;}
	.slidernav a.previous{left:3%;}
	.slidernav a.next{right:2%;}
}

@media (min-width:768px){
	.topbar{height:35px;}
	.wrapper{padding-top:35px; }
	.title{font-size:32px; line-height:50px;}
	.topbar .navbar-nav{width:650px;}
	.titlewrappersmall{display:none;}
	.topbar .navbar{position:relative; top:-35px;}
	.workbox{width:50%;}
	.topbar .navbar-default .navbar-nav>li>a{color:#ffffff; font-size:14px; padding:5px 25px;}
	.slidernav a.previous{left:2%;}
	.slidernav a.next{right:1%;}
}

@media (min-width:992px){
	.topbar{height:50px;}
	.wrapper{padding-top:50px; }
	.title{font-size:40px; line-height:60px;}
	.homewrapper{top:0%; width:100%;}
	.hometitle{font-size:26px; margin-top:10px;}
	.hometext{text-align:center; font-size:16px; margin:0 auto; width:90%;}
	.homebutton{margin:40px auto 0 auto; padding:10px 0; font-size:18px; width:130px;}
	.workbox{width:25%;}
	.topbar .navbar{position:relative; top:-45px;}
	.topbar .navbar-default .navbar-nav>li>a{color:#ffffff; font-size:14px; padding:10px 25px;}
	.slidernav a.previous{left:3%;}
	.slidernav a.next{right:2%;}
	.templatemo_worktitle{margin-top:5%; font-size:16px; font-weight:bold; color:#ffffff;}
}

@media (min-width:1200px){
	.title{font-size:50px; line-height:84px;}
	.homewrapper{top:0%; width:100%;}
	.hometitle{font-size:40px; margin-top:40px;}
	.hometext{text-align:center; font-size:16px; margin:0 auto; width:80%; line-height:30px;}
	.homebutton{margin:40px auto 20px auto; font-size:18px;}
	.topbar .navbar{position:relative; top:-55px;}
	.topbar .navbar-default .navbar-nav>li>a{color:#ffffff; font-size:16px; padding:15px 25px;}
	.slidernav a.previous{left:11%;}
	.slidernav a.next{right:10%;}
	.worktitle{margin-top:15%; font-size:18px; font-weight:bold; color:#ffffff;}
}

@media (min-width:1400px){
	.homewrapper{top:0%; width:100%;}
	.hometitle{font-size:42px; margin-top:80px;}
	.hometext{text-align:center; font-size:18px; margin:0 auto; width:70%; line-height:30px;}
	.homebutton{margin:70px auto 20px auto;}
	.slidernav a.previous{left:15%;}
	.slidernav a.next{right:15%;}
}